<footer class="footer">
  <div class="inner">
    <div class="footer-top">
      <!-- menu -->
      <div class="footer-menu">
        <ul class="menu-wrap">
          <li class="item"><a href="./about.html">About</a></li>
          <li class="item"><a href="./product.html">Product</a></li>
          <li class="item"><a href="#none">Technology</a></li>
          <li class="item"><a href="./contact.html">Contact</a></li>
        </ul>
      </div>
      <!-- sns -->
      <ul class="sns-wrap">
        <li class="item">
          <a class="sns-icon" href="#none">
            <img src="../assets/images/icon-facebook.png" alt="">
          </a>
        </li>
        <li class="item">
          <a class="sns-icon" href="#none">
            <img src="../assets/images/icon-instagram.png" alt="">
          </a>
        </li>
        <li class="item">
          <a class="sns-icon" href="#none">
            <img src="../assets/images/icon-youtube.png" alt="">
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-line"></div>
    <div class="footer-bottom">
      <ul class="info-wrap">
        <li class="item">Daejeon, Republic of Korea</li>
        <li class="item">Info@tomocube.com</li>
        <li class="item">+82-42-863-1100</li>
        <li class="item">Terms and Polices</li>
      </ul>
      <div class="copyright">
        <p class="text">Copyright 2024 Tomocube, Inc. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>