<header>
  <div class="gnb pc-nav">
    <div class="util-menu">
      <a href="#">Home</a>
    </div>
    <div class="gnb-menu-wrap">
      <button class="fold-btn">></button>
      <ul class="gnb-menu">
        <li class="menu-item"><a href="./main.html">Home</a></li>
        <li class="menu-item"><a href="./about.html">About</a></li>
        <li class="menu-item"><a href="./product.html">Product</a></li>
        <li class="menu-item"><a href="#none" onclick="activeAlert('menu')">Technology</a></li>
        <li class="menu-item"><a href="./contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</header>