
.footer {
  padding: 60rem 0 40rem;
  background-color: var(--black-color);
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-line {
  margin: 50rem 0 10rem;
  width: 100%;
  height: 1rem;
  background-color: #fff;
  opacity: .3;
}


/* Menu */
.footer-menu {}
.footer .menu-wrap {
  display: flex;
  gap: 10rem;
}
.footer .menu-wrap .item {}
.footer .menu-wrap .item > a {
  font-weight: 500;
  font-size: 15rem;
  text-transform: uppercase;
  color: #fff;
}


/* SNS Icons */
.sns-wrap {
  display: flex;
  gap: 10rem;
}
.sns-wrap .item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24rem;
  height: 24rem;
}
.sns-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sns-icon > img {
  width: 100%;
  height: 100%;
  filter: invert(100%);
}


/* Bottom */
.info-wrap {
  display: flex;
  gap: 10rem;
}
.info-wrap .item {
  font-weight: 200;
  font-size: 12rem;
  color: #fff;
  opacity: .9;
}

.copyright {}
.copyright .text {
  font-weight: 300;
  font-size: 13rem;
  color: #fff;
  opacity: .4;
}


/* Responsive */
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    gap: 80rem;
  }
  .footer .menu-wrap .item > a {
    font-size: 24rem;
  }
  .sns-wrap .item {
    width: 40rem;
    height: 40rem;
  }
  .sns-wrap .item:first-child {
    padding: 2px;
  }
  .sns-wrap .item:last-child {
    margin-left: 10px;
  }
  .footer-line {
    margin: 20rem 0;
  }
  .footer-bottom {
    flex-direction: column;
    gap: 30rem;
  }
  .info-wrap {
    flex-direction: column;
  }
  .info-wrap .item,
  .copyright .text {
    font-size: 21rem;
  }
}
@media (max-width: 540px) {
  .footer .menu-wrap .item > a {
    font-size: 14rem;
  }
  .info-wrap .item, .copyright .text {
    font-size: 14rem;
  }
  .sns-wrap .item {
    width: 32rem;
    height: 32rem;
  }
}