@import url(animations.css);


/* Font : Pretendard */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");


/* Variable */
html {
  font-size: 6.25%;
  --visual-border-round: 30rem;
  --visual-border-round-s: 14rem;
  --btn_padding-regular: 12rem 30rem;
  --btn_padding-space: 16rem 32rem;
}

/* Initialize */
*,
::before,
::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, form, h1, h2, h3, h4, h5, h6, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, time, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Pretendard', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 40rem;
}
h2 {
  font-size: 32rem;
}
h3 {
  font-size: 27rem;
}
h4 {
  font-size: 24rem;
}

p, span, strong, dt, dd, a, button {
  font-size: 16rem;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  --content-width: 1400px;
  --content-width--narrow: 900px;
  --marquee-gap: 25rem;
  /* Colors */
  --white-color: #FFFFFF;
  --black-color: #121212;
  --gray-color-900: #212121;
  --gray-color-800: #424242;
  --gray-color-700: #616161;
  --gray-color-600: #757575;
  --gray-color-500: #9E9E9E;
  --gray-color-400: #BDBDBD;
  --gray-color-300: #E0E0E0;
  --gray-color-200: #EEEEEE;
  --gray-color-100: #F5F5F5;
  --gray-color-50: #FAFAFA;
  --main-color-900: #170051;
  --main-color-800: #241266;
  --main-color-700: #2C1D71;
  --main-color-600: #34267C;
  --main-color-500: #392C85;
  --main-color-400: #534B96;
  --main-color-300: #6E69A7;
  --main-color-200: #9592C0;
  --main-color-100: #BFBDDA;
  --main-color-50: #E5E5F0;
}

/* Layout */
.wrap {}
.inner {
  margin: 0 auto;
  max-width: var(--content-width);
  position: relative;
}
.inner-narrow {
  margin: 0 auto;
  max-width: var(--content-width--narrow);
  position: relative;
}
.inner__flex-row {
  display: flex;
  flex-direction: row;
}
.inner__flex-column {
  display: flex;
  flex-direction: column;
}
.grid-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.grid-background .line {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: var(--gray-color-400);
  z-index: 1;
}
.grid-background .line:nth-child(1) {
  left: 20%;
}
.grid-background .line:nth-child(2) {
  left: calc(40% - 1px);
}
.grid-background .line:nth-child(3) {
  left: 60%;
}
.grid-background .line:nth-child(4) {
  left: calc(80% - 1px);
}
.grid-background .line:nth-child(5) {
  right: 20%;
}
.fix-item.fixed {
  position: fixed;
}

/* 반응형 */
@media screen and (min-width: 1919px) {
  :root {
    --content-width: 1680px;
    --content-width--narrow: 1244px;
  }
  html {
    font-size: 0.05;
  }
}
@media screen and (max-width: 1537px) {
  :root {
    --content-width: 1440px;
    --content-width--narrow: 1244px;
  }
  html {
    font-size: 0.069444444vw;
  }
}
@media screen and (max-width: 1367px) {
  :root {
    --content-width: 90%;
    --content-width--narrow: 85%;
  }
  html {
    font-size: 0.06756756756756757vw;
  }
}
@media screen and (max-width: 1023px) {
  html {
    font-size: 0.09775171065493645vw;
  }
}
@media screen and (max-width: 768px) {
  :root {
    --content-inner-side: 40rem;
  }
  html {
    font-size: 0.13020833333333335vw;
  }
  .pc-only {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  :root {
    --content-inner-top: 50rem;
    --content-inner-side: 30rem;
    --visual-border-round: 10rem;
    --visual-border-round-s: 6rem;
  }
  html {
    font-size: 0.26666666666666665vw;
  }
}


/* Components */
.view-more {
  display: inline-block;
  padding: var(--btn_padding-space);
  background-color: var(--main-color-800);
  border-radius: var(--visual-border-round);
  cursor: pointer;
}
.view-more > span {
  color: #fff;
  font-size: 18rem;
  font-weight: 500;
  pointer-events: none;
}
.view-more.btn_white {
  background-color: #fff;
}
.view-more.btn_white > span {
  color: var(--black-color);
}

/* Table */
.table-wrap {

}
.table-head {
  margin-bottom: 30rem;
}
.table-list_feat {}
.table-list_feat-item {
  padding: 20rem 0;
  display: flex;
  flex-direction: column;
  gap: 20rem;
}
.table-list_feat-item:not(:last-child) {
  border-bottom: 1rem solid #222;
}
.table-list_feat-item .detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.table-list_feat-item .d-title {
  font-size: 18rem;
  font-weight: 600;
}
.table-list_feat-item .d-desc {
  font-size: 18rem;
}

