@import url(sub_about.css);
@import url(sub_product.css);
@import url(sub_contact.css);


/* Subpage Layout */
.sub_sect-head {}
.sub_sect-head .head {
  font-size: 55rem;
  font-weight: 600;
  line-height: 1.05;
  text-transform: capitalize;
}
.active .sub_sect-head .head {
  color: #fff;
}

[class^="sub-page__"] {}

/* Key Visual */
.keyVisual {}
.keyVisual__container {
  padding: 100rem 30rem 60rem;
  position: relative;
  min-height: 100vh;
}
.keyVisual-background {
  position: absolute;
  left: 0;
  top: 0;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.keyVisual-background > img,
.keyVisual-background > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(.7);
}
.keyVisual-background.fit-top > img,
.keyVisual-background.fit-top > video {
  object-position: top;
}
.keyVisual-text {
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 200rem);
}
.key-text-heading {
}
.key-text-heading .head {
  position: relative;
  color: #fff;
  font-size: 72rem;
  font-weight: 500;
  width: fit-content;
  overflow: hidden;
}
.key-text-heading .head::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 3px;
  background-color: #fff;
}
.active .key-text-heading .head::after {
  animation: show-right .4s linear 1;
}
.key-text-description {
  margin-top: 40rem;
  padding: 20rem;
  width: 40%;
  border-radius: 5px;
  backdrop-filter: blur(30px);
}
.key-text-description .title {
  margin-bottom: 40rem;
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.3;
}
.key-text-description .desc {
  color: var(--gray-color-400);
  font-size: 16rem;
  font-weight: 300;
  line-height: 1.4;
  word-break: break-all;
}
.key-text-description .desc + .desc {
  margin-top: 15rem;
}
